.wrapper {
  max-width: 1300px;
}

.padding {
  padding: 1rem;
}

.navbar-logo {
  width: 55px;
  height: 55px;
  padding: 10px;
}

.navbar-nav {
  padding: 15px;
}

a.car-model-links {
  text-decoration: none;
  color: black;
}

.model:hover {
  text-decoration: underline;
  color: grey;
  border-bottom: 5px solid #1E90FF;
  background-color: #eee;
}

#slider, .slider-wrap, .slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50vh;
  overflow-x: hidden;
}

.slider-wrap {
  position: relative;
  opacity: 0.5;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 { background-image: url('img/slider-images/slide1.jpg');}
.slide2 { background-image: url('img/slider-images/slide2.jpg');}

.arrow {
  cursor: pointer;
  position: absolute;
  font-size: 60px;
  color: white;
  top: 50%;
  margin-top: -30px;
  width: 0;
  height: 0;
}

.arrow-left {
  margin-left: 30px;
  left: 0;
}

.arrow-right {
  margin-right: 45px;
  right: 0;
}

.new-cars, .used-cars {
  background-color: #D5FFFF;
  padding: 3.5rem;
}

.new-cars:hover, .used-cars:hover {
  background-color: #1E90FF;
  cursor: pointer;
  color: white;
}

.arrow-click {
  font-size: 20px;
}

.car-advert {
  position: relative;
  text-align: center;
  overflow-x: hidden;
}

img.car-advert-image {
  opacity: 0.5;
  width: 100%;
  height: auto;
}

.top-left {
  position: absolute;
  top: 100px;
  left: 50px;
  color: black;
}

.options-menu {
  background-color: #2e2e2e;
  padding: 2.5rem;
  color: white;
}

.options-menu:hover {
  background-color: #666;
  cursor: pointer;
  color: white;
}
